body {
  font-family: "IBM Plex mono", monospace;
}

.page {
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-image, url(../images/cover-image-dark.png));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/*HEADER*/

.header {
  position: relative;
  display: grid;
  grid-template-rows: repeat(4, auto);
  align-items: start;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}
.rec {
  color: var(--accent-color);
}

.rec::before {
  content: "REC";
  position: absolute;
  top: 10px;
  right: 39px;
  font-size: 18px;
}
.rec::after {
  content: "";
  position: absolute;
  top: 17px;
  right: 18px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decorated-zone);
  border-right: 1px solid var(--decorated-zone);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decorated-zone);
  border-left: 1px solid var(--decorated-zone);
}

.header__theme-menu {
  grid-row: 2;
  justify-self: end;
  color: var(--decorated-zone, #ff0070);
  font-size: 18px;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  padding-block-start: 3px;
  line-height: 18px;
  list-style: none;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 3.5px 13px;
  outline: #ff0070;
  text-transform: lowercase;
  background: none;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-border, #ff007066);
}

.header__theme-menu-button:focus-visible {
  border-bottom-color: var(--decorated-zone, #ff0070);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--decorated-zone, #ff0070);
  pointer-events: none;
}

.header__title {
  grid-row: 3;
}

.title__accent {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.introduction {
  grid-row: 4;
  width: clamp(355px, calc(346.4px + 2.29vw), 364px);
  color: var(--text-introduction, #000028);
  font-weight: 700;
  font-size: 18px;
  background-color: var(--accent-color, #ff0070);
}

h2,
h3,
h4 {
  font-size: 18px;
}

/*MAIN*/

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px 0;
  line-height: 23.4px;
  background-color: var(--bg-color, #000028);
}

.main-section {
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
}

.content-section__title {
  color: var(--decorated-zone, #ff0070);
  font-weight: 700;
}

.article-text__title {
  margin-block-start: 20px;
  margin-block-end: 10px;
  color: var(--text-introduction, #000028);
  font-weight: 700;
  background-color: var(--accent-color, #ff0070);
}

.article-list__subtitle {
  margin-block-start: 20px;
  margin-block-end: 10px;
  color: var(--text-introduction, #ff0070);
  font-weight: 400;
  background-color: var(--accent-color, #ff0070);
}

.article-text__content {
  color: var(--article-text-color, #f1b2ce);
  font-weight: 400;
}

.article-text__content p {
  margin-top: 15px;
}

.word__link {
  color: var(--word-link, #ff0070);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--word-link-shadow, #ff0070);
}

.word__link:hover {
  border-bottom: 1px solid var(--word-link, #f1b2ce);
}

.word__link:focus {
  outline: 1px solid var(--word-link, #f1b2ce);
}

.galery__title {
  margin-top: 0;
}

.galery__images {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  gap: 10px;
  padding-block-end: 40px;
}

.galery__images img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*FOOTER*/

.footer {
  display: grid;
  place-items: center;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  background-color: var(--bg-color, #000028);
}

@media (min-width: 768px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows:
      minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr)
      minmax(100px 1fr);
    min-height: 1024px;
    padding: 20px 20px 20px 0;
  }

  .header__theme-menu {
    grid-row: 2;
    align-self: start;
  }

  .header__title {
    grid-row: 3;
  }

  .title__accent {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .introduction {
    grid-row: 4;
    justify-self: end;
    width: clamp(364px, calc(-16.9px + 49.6vw), 491px);
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .rec::before {
    top: 21px;
    right: 48px;
  }

  .rec::after {
    top: 28px;
    right: 28px;
  }

  .main {
    padding: 20px;
  }

  /*SECTION 1*/

  .questions {
    display: grid;
    grid-template-columns: minmax(236px, 1fr) minmax(472px, 1fr);
    column-gap: 20px;
    padding-block-start: 21px;
  }

  .questions .content-section__title {
    padding-block-start: 20px;
  }

  /*SECTION 2*/

  .answers {
    padding-block-start: 29px;
  }

  .answers .content-section__title {
    width: 236px;
  }

  /*SECTION 3*/

  .advices {
    display: grid;
    grid-template-columns: minmax(236px, 1fr) minmax(472px, 1fr);
    column-gap: 20px;
    padding-block-start: 11px;
  }

  .advices .content-section__title {
    padding-block-start: 19px;
  }

  /*SECTION 4*/

  .galery {
    padding-block-start: 27px;
  }

  .galery__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto);
    gap: 20px;
    padding-block-start: 11px;
  }

  .sunset {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .ice__cream {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .books {
    grid-column: 2/3;
  }

  .tape {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .street {
    grid-column: 2/4;
  }

  /*FOOTER*/

  .footer {
    min-height: 1024px;
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  .header {
    grid-template-rows: minmax(40px, auto) minmax(50px, auto);
    min-height: 768px;
    padding: 10px 20px 10px 0;
  }

  .header__theme-menu {
    grid-row: 1;
    justify-self: center;
    align-self: start;
    padding-inline-start: 21px;
    padding-block-start: 5px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-self: start;
  }

  .header__title {
    grid-row: 2;
    align-self: end;
    padding-block-start: 25px;
  }

  .introduction {
    grid-row: 3;
    align-self: end;
    padding-block-end: 6px;
  }

  /*SECTION 1*/

  .questions {
    display: grid;
    grid-template-columns: minmax(315px, 1fr) minmax(649px, 1fr);
  }

  /*SECTION 2*/

  .answers {
    display: grid;
    grid-template-columns: minmax(315px, 1fr) minmax(315px, 1fr) minmax(
        315px,
        1fr
      );
    column-gap: 20px;
  }

  .answers .content-section__title {
    grid-column: 1/-1;
    width: 315px;
  }

  /*SECTION 3*/

  .advices {
    display: grid;
    grid-template-columns: minmax(315px, 1fr) minmax(649px, 1fr);
  }

  /*FOOTER*/

  .footer {
    min-height: 768px;
  }
}
