body {
  font-family: "IBM Plex mono", monospace;
}

.page {
  background-image: var(--bg-image, url(../images/cover-image-dark.png));
  background-color: var(--bg-color, #000028);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;                /*  Здравствуйте спасибо за  советы, много что подчерпнул для себя и
                                                   опробовал,  есть некоторые моменты которые смог  по другому
                                                   реализовать  и поискать другой подход,но не смог до конца довести.
                                                   Я про декоративные элементы, смог их все уместить в два
                                                   псевдоэлемента без лишних оберток в HTML, но растушевку для 
                                                   точки так и не смог продумать, как задать ее отдельно
                                                   в блоке  не трогая саму надпись REC.*/
                                              
                                                  
}

/*HEADER*/

.header {
  display: grid;
  grid-template-rows: repeat(4, auto);
  align-items: start;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  position: relative;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inset: 0;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  background:
    /* верхний правый угол */
    linear-gradient(var(--decorated-zone) 0 0) top right / 25px 1px,
    linear-gradient(var(--decorated-zone) 0 0) top right / 1px 25px,
    /* нижний левый угол */ linear-gradient(var(--decorated-zone) 0 0) bottom
      left / 25px 1px,
    linear-gradient(var(--decorated-zone) 0 0) bottom left / 1px 25px;
  pointer-events: none;
  background-repeat: no-repeat;
}

.header::after {
  content: " REC  ";
  position: absolute;
  top: 10px;
  right: 17px;
  font-size: 18px;
  color: var(--decorated-zone, #ff0070);
  padding-right: 20px;
  background: radial-gradient(circle,var(--decorated-zone, #ff0070) 50%,  transparent)
  41px 8px / 9px 9px no-repeat;     
}

.header__theme-menu {
  justify-self: end;
  font-size: 18px;
  color: var(--decorated-zone, #ff0070);
  grid-row: 2;
}

.header__theme-menu-list {
  display: grid;
  list-style: none;
  gap: 10px;
}

.header__theme-menu-button {
  background: none;
  border: 1px solid transparent;
  padding: 1.5px 13px;
  cursor: pointer;
  text-transform: lowercase;
  outline: none;
}

.header__theme-menu-button:hover {
  border-color: var(--hover-border, #ff007066);
}

.header__theme-menu-button:focus-visible {
  border-bottom-color: var(--decorated-zone, #ff0070);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border-color: currentColor;
}

.header__title {
  grid-row: 3;
}

.title__accent {
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.introduction {
  color: var(--text-introduction, #000028);
  background-color: var(--accent-color, #ff0070);
  font-weight: 700;
  font-size: 18px;
  grid-row: 4;
  width: clamp(355px, calc(346.4px + 2.29vw), 364px);
}

h2,
h3,
h4 {
  font-size: 18px;
}

/*MAIN*/

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px 0;
  background-color: var(--bg-color, #000028);
  line-height: 23.4px;
}

.main-section {
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}

.content-section__title {
  color: var(--decorated-zone, #ff0070);
  font-weight: 700;
}

.article-text__title {
  background-color: var(--accent-color, #ff0070);
  color: var(--text-introduction, #000028);
  margin-block-end: 10px;
  margin-block-start: 20px;
  font-weight: 700;
}

.article-list__subtitle {
  background-color: var(--accent-color, #ff0070);
  color: var(--text-introduction, #ff0070);
  font-weight: 400;
  margin-block-end: 10px;
  margin-block-start: 20px;
}

.article-text__content {
  font-weight: 400;
  color: var(--article-text-color, #f1b2ce);
}

.word__link {
  color: var(--word-link, #ff0070);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--word-link-shadow, #ff0070);
}

.word__link:hover {
  border-bottom: 1px solid var(--word-link, #f1b2ce);
}

.word__link:focus {
  border: 1px solid var(--word-link, #f1b2ce);
  border-radius: 0;
  outline: none;
}

.galery__title {
  margin-top: 0;
}

.galery__images {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  gap: 10px;
  padding-block-end: 40px;
}

.galery__images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/*FOOTER*/

.footer {
  display: grid;
  min-height: 100vh;
  min-height: 668px;
  padding: 10px;
  background-color: var(--bg-color, #000028);
  place-items: center;
}

  


@media (min-width: 768px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px,1fr ) minmax(100px 1fr);
    min-height: 1024px;
    padding: 20px 20px 20px 0;
  }

  .header__theme-menu {
    grid-row: 2;
    align-self: start;
  }

  .header__title {
    grid-row: 3;
  }

  .title__accent {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .introduction {
    justify-self: end;
    width: clamp(364px, calc(-16.9px + 49.6vw), 491px);
    grid-row: 4;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
  }

  .header::after {
    top: 21px;
    right: 27px;
  }

  .main {
   padding: 20px;
  }

  /*SECTION 1*/

  .questions {
    display: grid;
    grid-template-columns: minmax(236px, 1fr) minmax(472px, 1fr);
    padding-block-start: 21px;
    column-gap: 20px;
  }

  .questions .content-section__title {
    padding-block-start: 20px;
  }

  /*SECTION 2*/

  .answers {
    padding-block-start: 29px;
  }

  .answers .content-section__title {
    width: 236px;
  }

  /*SECTION 3*/

  .advices {
    display: grid;
    grid-template-columns: minmax(236px, 1fr) minmax(472px, 1fr);
    padding-block-start: 11px;
    column-gap: 20px;
  }

  .advices .content-section__title {
    padding-block-start: 19px;
  }

  /*SECTION 4*/

  .galery {
    padding-block-start: 27px;
  }

  .galery__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto);
    gap: 20px;
    padding-block-start: 11px;
  }

  .sunset {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .ice__cream {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .books {
    grid-column: 2/3;
  }

  .tape {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .street {
    grid-column: 2/4;
  }

  /*FOOTER*/

  .footer {
    padding: 20px;
    min-height: 1024px;
  }
}

@media (min-width: 1024px) {
  .header {
    min-height: 768px;
    grid-template-rows: minmax(100px, auto) minmax(130px, auto) minmax(220px, auto);
    padding: 10px 5px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    grid-row: 1;
    padding-block-start: 8px;
    margin-inline-start: 19px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    align-self: start;
    gap: 10px;
  }

  .decorated-zone::before {
    bottom: 19px;
    left: 20px;
    top: 20px;
    right: 4px;
  }

  .decorated-zone::after {
    top: 21px;
    right: 12px;
  }

  .header__title {
    grid-row: 2;
    align-self: end;
  }

  .introduction {
    grid-row: 3;
    align-self: center;
  }

  /*SECTION 1*/

  .questions {
    display: grid;
    grid-template-columns: minmax(315px, 1fr) minmax(649px, 1fr);
  }

  /*SECTION 2*/

  .answers {
    display: grid;
    grid-template-columns: minmax(315px, 1fr) minmax(315px, 1fr) minmax( 315px,1fr );
    column-gap: 20px;
  }

  .answers .content-section__title {
    grid-column: 1/-1;
    width: 315px;
  }

  /*SECTION 3*/

  .advices {
    display: grid;
    grid-template-columns: minmax(315px, 1fr) minmax(649px, 1fr);
  }

  /*FOOTER*/

  .footer {
    min-height: 768px;
  }
}
