*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex mono', Arial, sans-serif;

}

.page {
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*HEADER*/

.header {
  display: grid;
  grid-template-rows: repeat(4, auto);
  align-items: start;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  position: relative;
}

.decorated-zone {
  position: relative;
}


.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decorated-zone);
  border-right: 1px solid var(--decorated-zone);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decorated-zone);
  border-left: 1px solid var(--decorated-zone);
}

.decorated-zone .decorative-dot {
  position: absolute;
  top: 18px;
  right: 19px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorotive-rec {
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--accent-color);
  justify-self: end;
}

.header__theme-menu {
  justify-self: end;
  align-self: end;
  font-size: 18px;
  color: var(--decorated-zone);
}

.header__theme-menu-list {
  display: grid;
  list-style: none;
  gap: 10px;
}

.header__theme-menu-button {
  background: none;
  border: 1px solid transparent;
  padding: 1.5px 13px;
  cursor: pointer;
  text-transform: lowercase;
  outline: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-border);
  color: currentColor;
}

.header__theme-menu-button:focus-visible {
  border: none;
  border-bottom: 1px solid currentColor;
}


.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid currentColor;
}

.header__title {
  grid-row: 3;
}

.title__accent {
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.introduction {
  color: var(--text-introduction);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  grid-row: 4;
  width: clamp(355px, 355px + 2.19vw, 364px);
}

h2,
h3,
h4 {
  font-size: 18px;
}

/*MAIN*/

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px 0;
  background-color: var(--bg-color);
  line-height: 23.4px;
}

.main-section {
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}

.content-section__title {
  color: var(--decorated-zone);
  font-weight: 700;
}

.article-text__title {
  background-color: var(--accent-color);
  color: var(--text-introduction);
  margin-block-end: 10px;
  margin-block-start: 20px;
  font-weight: 700;
}

.article-list__subtitle {
  background-color: var(--accent-color);
  color: var(--text-introduction);
  font-weight: 400;
  margin-block-end: 10px;
  margin-block-start: 20px;
}


.article-text__content {
  color: var(--article-text-color);
}

.word__link {
  color: var(--word-link);
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--word-link-shadow);
}


.word__link:hover {
  text-decoration: underline;
  color: inherit;
}

.word__link:focus {
  color: inherit;
  text-decoration: none;
}

.galery__title {
  margin-top: 0;
}

.galery__images {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  gap: 10px;
  padding-block-end: 40px;
}

.galery__images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/*FOOTER*/

.footer {
  display: grid;
  min-height: 100vh;
  padding: 10px;
  background-color: var(--bg-color);
  place-items: center;
}

@media(min-width: 768px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px 1fr);
    min-height: 1024px;
    height: 100vh;
    padding: 20px 20px 20px 0;
  }

  .header__theme-menu {
    grid-row: 2;
    align-self: start;
  }

  .header__title {
    grid-row: 3;
}

  .title__accent {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .introduction {
    justify-self: end;
    width: clamp(364px, calc(-16.9px + 49.6vw), 491px);
    grid-row: 4;
  }

  .decorated-zone::before {
    top: 19px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .decorotive-rec {
    top: 21px;
    right: 48px;
  }

  .decorated-zone .decorative-dot {
    top: 28px;
    right: 29px;
  }

  .main {
    padding: 20px;
  }

  /*SECTION 1*/

  .questions {
    display: grid;
    grid-template-columns: minmax(236px, 1fr) minmax(472px, 1fr);
    padding-block-start: 21px;
    column-gap: 20px;
  }

  .questions .content-section__title {
    padding-block-start: 20px;

  }

  /*SECTION 2*/

  .answers {
    padding-block-start: 29px;
  }

  .answers .content-section__title {
    width: 236px;
  }

  /*SECTION 3*/

  .advices {
    display: grid;
    grid-template-columns: minmax(236px, 1fr) minmax(472px, 1fr);
    padding-block-start: 11px;
    column-gap: 20px;
  }

  .advices .content-section__title {
    padding-block-start: 19px;
  }

  /*SECTION 4*/

  .galery {
    padding-block-start: 27px;
  }

  .galery__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto);
    gap: 20px;
    padding-block-start: 11px;
  }

  .sunset {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .ice__cream {
    grid-column: 3/4;
    grid-row: 1/3;
  }


  .books {
    grid-column: 2/3;
  }

  .tape {
    grid-column: 1/2;
    grid-row: 2/4;
  }


  .street {
    grid-column: 2/4;
  }


  /*FOOTER*/

  .footer {
    padding: 20px;
    min-height: 1024px;
    height: 100vh;
  }

}

@media(min-width:1024px) {
  .header {
    height: 100vh;
    min-height: 768px;
    grid-template-rows: minmax(100px, auto) minmax(100px, auto) minmax(190px, auto);
    padding: 0px 10px 20px 0px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    grid-row: 1;
    padding-block-start: 19px;

  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    align-self: start;
    gap: 10px;
  }




  .header__title {
    grid-row: 2;
    align-self: end;
  }


  .introduction {
    grid-row: 3;
    align-self: center;
 }


  .decorated-zone::before {
    top: 20px;
    right: 5px;
  }


  .decorotive-rec {
    top: 21px;
    right: 36px;
  }


  .decorated-zone .decorative-dot {
    top: 29px;
    right: 14px;
  }


  /*SECTION 1*/

  .questions {
    display: grid;
    grid-template-columns: minmax(315px, 1fr) minmax(649px, 1fr);
  }

  /*SECTION 2*/

  .answers {
    display: grid;
    grid-template-columns: minmax(315px, 1fr) minmax(315px, 1fr) minmax(315px, 1fr);
    column-gap: 20px;
  }

  .answers .content-section__title {
    grid-column: 1/-1;
    width: 315px;
  }

  /*SECTION 3*/

  .advices {
    display: grid;
    grid-template-columns: minmax(315px, 1fr)minmax(649px, 1fr);
  }

  /*FOOTER*/

  .footer {
    min-height: 768px;
    height: 100vh;
  }

}


.theme-light .decorative-dot,
.theme-light .decorotive-rec {
  display: none;

}