:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --article-text-color: #f1b2ce;
  --decorated-zone: #ff0070;
  --hover-border: #ff007066;
  --text-introduction: #000028;
  --content-section__title: #ff0070;
  --word-link: #f1b2ce;
  --word-link-shadow: #ff0070;
}
